In [1]:
import pandas as pd
from numpy import array
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense

Using TensorFlow backend.

In [33]:
df_btc_model = pd.read_pickle("./df_btc_model.pkl")

In [34]:
df_btc_model.head()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,Mean_X,Variance_X,Min_X,Max_X
0,460.98,460.98,460.98,460.98,460.98,460.98,460.970,460.975,460.98,460.98,...,453.76,453.76,453.76,453.76,453.76,453.76,452.093333,0.439333,451.75,453.75
1,460.98,460.98,460.98,460.98,461.42,461.43,461.430,462.980,462.98,462.98,...,451.75,451.75,451.75,451.75,451.75,451.75,451.749167,0.000008,451.74,451.75
2,462.98,462.98,462.98,462.98,462.98,462.98,462.980,462.980,462.98,462.98,...,451.75,451.75,451.75,451.75,451.75,451.74,451.825000,0.031518,451.74,452.21
3,462.98,462.98,462.98,462.97,462.97,462.98,462.980,462.980,462.98,462.98,...,451.75,451.75,451.75,451.75,452.20,452.21,452.204167,0.000027,452.20,452.21
4,462.98,462.98,462.97,462.97,462.97,461.79,461.785,461.770,461.77,461.77,...,452.20,452.21,452.21,452.21,452.21,452.21,452.210000,0.000000,452.21,452.21

In [55]:
df = df_btc_model.iloc[:,:-4]
y = df_btc_model.iloc[:,-4:]

In [56]:
df = df.to_numpy()
y = y.to_numpy()

In [57]:
type(df)

numpy.ndarray

In [58]:
df.shape, y.shape

((25954, 276), (25954, 4))

In [59]:
df

array([[ 460.98 ,  460.98 ,  460.98 , ...,  453.76 ,  453.76 ,  453.76 ],
       [ 460.98 ,  460.98 ,  460.98 , ...,  451.75 ,  451.75 ,  451.75 ],
       [ 462.98 ,  462.98 ,  462.98 , ...,  451.75 ,  451.75 ,  451.74 ],
       ...,
       [8659.35 , 8643.495, 8665.395, ..., 8767.525, 8750.625, 8737.67 ],
       [8667.555, 8705.805, 8715.235, ..., 8792.62 , 8822.07 , 8819.295],
       [8750.005, 8764.39 , 8804.87 , ..., 8811.385, 8812.005, 8807.275]])

In [6]:
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
df = df.reshape((df.shape[0], df.shape[1], n_features))

In [7]:
df.shape

(25954, 276, 1)

In [8]:
n_steps_in, n_steps_out = 276, 4

In [12]:
# define model
model = Sequential()
model.add(LSTM(50, activation='relu', return_sequences=True, input_shape=(n_steps_in, n_features)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(n_steps_out))
model.compile(optimizer='adam', loss='mse')

In [13]:
model.fit(df, y, epochs=25, verbose=0)

In [28]:
x_input = df[0,:]

In [30]:
x_input = x_input.reshape((1, n_steps_in, n_features))

In [31]:
yhat = model.predict(x_input, verbose=0)

In [32]:
print(yhat)

[[nan nan nan nan]]